    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    /* Estilos para o fundo da página */
    div[style*="background: rgba"] {
        position: absolute;
    }

    /* Estilos para o retângulo azul base de trás */
    div[style*="background: #4D9AF3"] {
        position: absolute;
        left: 300px;
        top: 55px;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) inset;
    }

    /* Estilos para o retângulo laranja base de trás */
    div[style*="background: #F59700"] {
        position: absolute;
        left: 343px;
        top: 160px;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    }

    /* Estilos para o logo do site */
    img[src="logo.jpg"] {
        position: absolute;
        width: 321px;
        height: 58px;
        left: 825px;
        top: -9px;
    }

    /* Estilos para os botões de navegação */
    div[style*="background: #F59708"] {
        position: absolute;
        width: 300px;
        height: 41px;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
        text-align: center;
    }

    div[style*="background: #F59708"] a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        color: black;
        font-size: 32px;
        font-family: 'Cherry Bomb One', sans-serif;
        font-weight: 400;
        word-wrap: break-word;
        line-height: 41px;
    }

    /* Estilos para a linha divisória */
    div[style*="background: #D9D9D9"] {
        position: absolute;
        height: 1px;
    }

    /* Estilos para o círculo com a foto do perfil */
    img[src="EU.jpg"] {
        position: absolute;
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }

    /* Estilos para o nome do perfil */
    div[style*="font-family: Chivo"] {
        position: absolute;
        font-size: 32px;
        font-weight: 400;
        word-wrap: break-word;
    }

    /* Estilos para os ícones de email, telefone e endereço */
    img[src*="email.jpg"],
    img[src*="telefone.jpg"],
    img[src*="endereço.jpg"] {
        position: absolute;
        width: 45px;
        height: 29px;
        border-radius: 50%;
    }

    /* Estilos para as informações de contato */
    div[style*="font-family: Chivo"] span {
        font-size: 15px;
        font-weight: 400;
        word-wrap: break-word;
    }

    /* Estilos para a foto do cachorro */
    img[src*="pitbull.jpg"] {
        position: absolute;
        width: 300px;
        height: 200px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    /* Estilos para o retângulo azul abaixo da foto do cachorro */
    div[style*="background: #4D9AF3"] {
        position: absolute;
        height: 57px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
